<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
      <!------------------- head style ------------------->
      <link rel="stylesheet" href="/assets/css/solid.min.css" />
      <link rel="stylesheet" href="/assets/css/fontawesome.min.css" />
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/assets/css/style.css" />
      <!------------------- head style ------------------->
  </head>
  <body>
    <!-- user info -->
    <div class="row">
      <!-- left -->
      <div class="sidebar col-12 col-md-3 bg-secondary text-white py-4 px-5">
        <!-- links -->

        <ul class="navbar-nav mt-4">
          <li class="nav-item">
            <a href="dashboard-info.html" class="nav-link">User info</a>
          </li>
          <li class="nav-item">
            <a href="ex.html" class="nav-link">Experience</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Skills</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Education</a>
          </li>
          <li class="nav-item">
            <a href="courses.html" class="nav-link">Courses</a>
          </li>
        </ul>
      </div>

      <!-- user -->
      <div class="col py-4 px-5">

        <h2>Expericen list</h2>


        <form action="" class="mt-3">
          <div class="mb-3">
            <label for="info-name-input" class="form-label">Languages</label>
            <input
              type="text"
              class="form-control"
              id="info-name-input"
              placeholder="Your languages here :)"
              value="English, Arabic"
            />
          </div>

          <div class="mb-3">
            <label for="info-email-input" class="form-label"> Hobbies </label>
            <input
              type="email"
              class="form-control"
              id="info-email-input"
              placeholder="ex. talk to other people"
            />
          </div>

          <div class="mb-3">
            <label for="info-location-input" class="form-label">Ex years</label>
            <input
              type="text"
              class="form-control"
              id="info-location-input"
              placeholder="ex. 2 years"
            />
          </div>

          <div class="">
            <button type="submit" class="btn btn-primary mb-3 px-5">
              save
            </button>
          </div>
        </form>
      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
